name: 'Go Template'
scopeName: 'text.html.gotmpl'
type: 'modern-tree-sitter'
parser: 'tree-sitter-go-template'

fileTypes: ['gotmpl']

injectionRegex: '^(gotmpl|GOTMPL|hugo|HUGO)$'

treeSitter:
  parserSource: 'github:savetheclocktower/tree-sitter-go-template#e64a54924093441331266272b903e4b622c84d5f'
  grammar: 'tree-sitter/tree-sitter-gotmpl.wasm'
  highlightsQuery: 'tree-sitter/highlights.scm'
  foldsQuery: 'tree-sitter/folds.scm'
  indentsQuery: 'tree-sitter/indents.scm'
  tagsQuery: 'tree-sitter/tags.scm'
